{% extends "base.html" %}


{% block extra_head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/seobird657/seobird.css' %}" >
{% endblock extra_head %}


{% block content %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
<div class="content" >
    {% if page.specific.show_breadcrumbs %}
    <div class="breadcrumbs">
        {% for ancestor in page.get_ancestors.public|slice:"2:" %}
        <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
        {% endfor %}
        {{ page.title  }}
    </div>
    {% endif %}
    <article itemscope itemtype="https://schema.org/NewsArticle">
        <h1 itemprop="name">{{ page.title }}</h1>
        <div class="meta" >
        {% if page.go_live_at %}
        <span itemprop="datePublished" content="{{ page.go_live_at|date:'c' }}">{{ page.go_live_at|date:"d M Y" }}</span>
        {% else %}
        <span itemprop="datePublished" content="{{ page.first_published_at|date:'c' }}">{{ page.first_published_at|date:"d M Y" }}</span>
        {% endif %}
        <span> / </span>
        <span itemprop="author" class="author">{{ page.owner.get_full_name }}</span>
        </div>
        {% if page.specific.image and page.specific.show_cover %}
        {% image page.specific.image width-400 as 400_photo %}
        {% image page.specific.image width-720 as 720_photo %}
        {% image page.specific.image width-900 as 900_photo %}
        <img itemprop="image" srcset="{{ 400_photo.url }} 400w,
                    {{ 720_photo.url }} 720w,
                    {{ 900_photo.url }} 900w"
            sizes="(max-width: 400px) 400px,
                    (max-width: 720px) 720px,
                    900px"
            src="{{ 900_photo.url }}" alt="{{ 900_photo.alt }}" loading="lazy" />
        {% endif %}
        {% if page.specific.intro %}
        <div itemprop="description" class="intro" >{{ page.specific.intro|richtext }}</div>
        {% endif %}
        {% for block in page.specific.body %}
        <div id=block-{{ forloop.counter }} class=block-{{ block.block_type }}>
            {{ block }}
        </div>
        {% endfor %}

        <div class="page_share">
            <a href="#" data-share-info="{{ page.title }} {{ page.full_url }}" title="Share on Mastodon" onclick="shareToMastodon(this);" target="blank" >
                <img src="{% static 'img/seobird657/share/Mastodon-Logotype.svg' %}" alt="Mastodon logo black" width="28" loading="lazy" >
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.full_url }}" title="Share on Facebook" target="blank">
                <img src="{% static 'img/seobird657/share/f_logo_RGB-Black_small.webp' %}" alt="Facebook “f” logo black" width="27" loading="lazy" >
            </a>
            <a href="http://www.reddit.com/submit?url={{ page.full_url }}&title={{ page.title }}" title="Share on Reddit" target="blank">
                <img src="{% static 'img/seobird657/share/Reddit_Mark_small.webp' %}" alt="Reddit logo black" width="27" loading="lazy" >
            </a>
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.full_url }}" title="Share on LinkedIn" target="blank">
                <img src="{% static 'img/seobird657/share/LI-In-Bug-Black.webp' %}" alt="LinkedIn logo black" width="30" loading="lazy" style="width:30px;" >
            </a>
            <a href="mailto:?subject={{ page.title }}&amp;body={{ page.full_url }}" title="Share by Email">
                <img src="{% static 'img/seobird657/share/Email-icon-black.webp' %}" alt="Email icon black" width="27" loading="lazy" >
            </a>
        </div>
    </article>

    {% if related %}
    <aside>
    <div class="related">
        <div class="related_item">
        {% for article in related %}
            <a href="{% pageurl article %}" >
                <div class="related_item_cover">
                    {% image article.specific.image width-600 as 600_photo %}
                    {% image article.specific.image width-500 as 500_photo %}
                    {% image article.specific.image width-400 as 400_photo %}
                    {% image article.specific.image width-300 as 300_photo %}
                    <img srcset="{{ 400_photo.url }} 400w,
                                {{ 500_photo.url }} 500w,
                                {{ 600_photo.url }} 600w,
                                {{ 300_photo.url }} 900w"
                        sizes="(max-width: 400px) 400px,
                                (max-width: 600px) 600px,
                                (max-width: 900px) 500px,
                                900px"
                        src="{{ 600_photo.url }}"
                        alt="{{ 600_photo.alt }}" class="image" loading="lazy" />
                </div>
                <div class="related_item_title">
                    <h2>{{ article.title }}</h2>
                    <span >
                    {% if article.go_live_at %}
                        {{ article.go_live_at|date:"d M Y" }}
                    {% else  %}
                        {{ article.first_published_at|date:"d M Y" }}
                    {% endif %}
                    / {{ article.owner.get_full_name }}
                    </span>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
    </aside>
    {% endif %}
</div>

<script src="{% static 'js/seobird657/seobird657.js' %}" async=""></script>
{% endblock %}
