{% extends "base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% wagtail_site as current_site %}

{% block ldjson %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",

        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ page.full_url }}"
         },

        "headline": "{{ page.title }}",

        {% image page.specific.image fill-400x400-c100 as 1_1_photo %}
        {% image page.specific.image fill-720x540-c100 as 4_3_photo %}
        {% image page.specific.image width-720 as 16_9_photo %}
        "image": ["{{ 1_1_photo.url }}", "{{ 4_3_photo.url }}", "{{ 16_9_photo.url }}"],

        {% if page.go_live_at %}
        "datePublished": "{{ page.go_live_at|date:"Y-m-d" }}",
        {% else %}
        "datePublished": "{{ page.first_published_at|date:"Y-m-d" }}",
        {% endif %}

        "author": {
            "@type": "Person",
            "name": "{{ page.owner.get_full_name }}"
        },

        "publisher": {
            "@type": "Organization",
            {% if site_settings.logo %}
            {% with site_settings.logo as settings_logo %}
            {% image settings_logo height-60 as site_logo %}
            "name": "{{ current_site.site_name|default:'' }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site_logo.url }}"
            }
            {% endwith %}
            {% else %}
            {% with settings.seobird657.SeoSettings.logo as settings_logo %}
            {% image settings_logo height-60 as site_logo %}
            "name": "{{ current_site.site_name|default:'' }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site_logo.url }}"
            }
            {% image settings_logo height-60 as site_logo %}
            {% endwith %}
            {% endif %}
        
        },
    
        {% if page.specific.tags.count > 1 %}
        "keywords": "{% for tag in page.specific.tags.all %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}",
        {% elif page.specific.tags.exists %}
        "keywords": "{% for tag in page.specific.tags.all %}{{ tag }}{% endfor %}",
        {% endif %}

        "description": "{{ page.specific.search_description|default:''|striptags }}"

    }
</script>
{% endblock ldjson %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/seobird657/seobird.css' %}" >
{% endblock extra_head %}


{% block content %}
<div class="content" >

    {% if page.specific.show_breadcrumbs %}
    <div class="breadcrumbs">
        {% for ancestor in page.get_ancestors.public|slice:"2:" %}
        <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
        {% endfor %}
        {{ page.title  }}
    </div>
    {% endif %}
    
    <h1 >{{ page.title }}</h1>

    <div class="meta" >
    {% if page.go_live_at %}
    <span >{{ page.go_live_at|date:"d M Y" }}</span>
    {% else %}
    <span >{{ page.first_published_at|date:"d M Y" }}</span>
    {% endif %}
    <span> / </span>
    <span class="author">{{ page.owner.get_full_name }}</span>
    </div>

    {% if page.specific.image and page.specific.show_coverImage %}
    {% image page.specific.image width-400 as 400_photo %}
    {% image page.specific.image width-720 as 720_photo %}
    {% image page.specific.image width-900 as 900_photo %}
    <img srcset="{{ 400_photo.url }} 400w,
                {{ 720_photo.url }} 720w,
                {{ 900_photo.url }} 900w"
        sizes="(max-width: 400px) 400px,
                (max-width: 720px) 720px,
                900px"
        src="{{ 900_photo.url }}" alt="{{ 900_photo.alt }}" loading="lazy" />
    {% endif %}
    
    {% if page.specific.intro %}
    <div class="intro" >{{ page.specific.intro|richtext }}</div>
    {% endif %}
    
    {{ page.specific.body }}

    <div class="page_share">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.full_url }}" >
            <img src="{% static 'img/seobird657/share/f_logo_RGB-Black_small.webp' %}" alt="Facebook “f” logo black" width="27" loading="lazy" >
        </a>
        <a href="https://twitter.com/intent/tweet?url={{ page.full_url }}" >
            <img src="{% static 'img/seobird657/share/2021_Twitter_logo-black_small.webp' %}" alt="Twitter logo black" width="28" loading="lazy" style="width:28px;margin: 4px 0 0 0;" >
        </a>
        <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.full_url }}" >
            <img src="{% static 'img/seobird657/share/LI-In-Bug-Black.webp' %}" alt="LinkedIn logo black" width="30" loading="lazy" style="width:30px;" >
        </a>
        <a href="http://www.reddit.com/submit?url={{ page.full_url }}&title={{ page.title }}" style="margin:0;">
            <img src="{% static 'img/seobird657/share/Reddit_Mark_small.webp' %}" alt="Reddit logo black" width="27" loading="lazy" style="margin:0;">
        </a>
        <a href="mailto:?subject={{ page.title }}&amp;body={{ page.full_url }}" title="Share by Email">
            <img src="{% static 'img/seobird657/share/Email-icon-black.webp' %}" alt="Email icon black" width="30" loading="lazy" style="width:30px;" >
        </a>
    </div>

    {% if related %}
    <aside>
    <div class="related">
        <div class="related_item">
        {% for article in related %}
            <a href="{% pageurl article %}" >
                <div class="related_item_cover">
                    {% image article.specific.image width-600 as 600_photo %}
                    {% image article.specific.image width-500 as 500_photo %}
                    {% image article.specific.image width-400 as 400_photo %}
                    {% image article.specific.image width-300 as 300_photo %}
                    <img srcset="{{ 400_photo.url }} 400w,
                                {{ 500_photo.url }} 500w,
                                {{ 600_photo.url }} 600w,
                                {{ 300_photo.url }} 900w"
                        sizes="(max-width: 400px) 400px,
                                (max-width: 600px) 600px,
                                (max-width: 900px) 500px,
                                900px"
                        src="{{ 600_photo.url }}"
                        alt="{{ 600_photo.alt }}" class="image" loading="lazy" />
                </div>
                <div class="related_item_title">
                    <h2>{{ article.title }}</h2>
                    <span >
                    {% if article.go_live_at %}
                        {{ article.go_live_at|date:"d M Y" }}
                    {% else  %}
                        {{ article.first_published_at|date:"d M Y" }}
                    {% endif %}
                    / {{ article.owner.get_full_name }}
                    </span>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
    </aside>
    {% endif %}

</div>
{% endblock %}