{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block ldjson %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Recipe",
        "author": "{{ page.specific.author }}",

        {% if page.go_live_at %}
        "datePublished": "{{ page.go_live_at|date:"Y-m-d" }}",
        {% else %}
        "datePublished": "{{ page.first_published_at|date:"Y-m-d" }}",
        {% endif %}

        {% if page.specific.tags.count > 1 %}
        "keywords": "{% for tag in page.specific.tags.all %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}",
        {% elif page.specific.tags.exists %}
        "keywords": "{% for tag in page.specific.tags.all %}{{ tag }}{% endfor %}",
        {% endif %}

        "description": "{{ page.specific.search_description|default:''|striptags }}",

        {% image page.specific.cover_image width-720 as tmp_photo %}
        "image": "{{ tmp_photo.url }}",

        {% for block in page.specific.body %}
            "recipeIngredient": [
                {% for ingredient in block.value.ingredients %}
                    {% if ingredient.amount %}
                    "{{ ingredient.amount }} {{ ingredient.ingredient }}"
                    {% else %}
                    "{{ ingredient.ingredient }}"
                    {% endif %}
                    {% if not forloop.last %}
                    ,
                    {% endif %}
                {% endfor %}
            ],

            "recipeInstructions": [
                {% for instruction in block.value.instructions %}
                    { "@type": "HowToStep",
                    "name": "{{ instruction.name }}",
                    "text": "{{ instruction.text }}",
                    "url": "{{ instruction.url }}",
                    {% image instruction.image original as inst_img %}
                    "image": "{{ inst_img.url }}"
                    {% if not forloop.last %}
                    },
                    {% else %}
                    }
                    {% endif %}
                {% endfor %}
                ],
        {% endfor %}
        
        "name": "{{ page.title }}"
    }
</script>
{% endblock ldjson %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/seobird657/seobird.css' %}" >
{% endblock extra_head %}


{% block content %}
<div class="seo_recipe" >

    <h2 >{{ page.title }}</h2>

    <div class="meta" >
    {% if page.go_live_at and page.specific.show_date %}
    <span >{{ page.go_live_at|date:"d M Y" }}</span>
    {% elif page.specific.show_date %}
    <span >{{ page.first_published_at|date:"d M Y" }}</span>
    {% endif %}
    <span> / </span>
    <span class="author">{{ page.specific.author }}</span>
    </div>
    
    {% if page.specific.cover_image and page.specific.show_coverImage %}
    {% image page.specific.cover_image width-720 as tmp_photo %}
    <img src="{{ tmp_photo.url }}" alt="{{ tmp_photo.alt }}"  />
    {% endif %}

    {% if page.specific.intro %}
    <div class="intro" >{{ page.specific.intro|richtext }}</div>
    {% endif %}
    
    <div class="recipe">

    {{ page.specific.body }}
    
    </div>

    {% if related %}
    <div class="related">
        <div class="related_recipe">
        {% for recipe in related %}
            <a href="{% pageurl recipe %}" >
                {% image recipe.specific.cover_image min-400x400 as tmp_img %}
                <div class="related_recipe_cover">
                    <img src="{{ tmp_img.url }}" alt="{{ tmp_img.alt }}" class="cover_image" loading="lazy" />
                </div>
                <div class="related_recipe_title">
                    <h4>{{ recipe.title }}</h4>
                    <span >
                    {% if recipe.go_live_at and recipe.specific.show_date %}
                        {{ recipe.go_live_at|date:"d M Y" }} 
                    {% elif recipe.specific.show_date  %}
                        {{ recipe.first_published_at|date:"d M Y" }}
                    {% endif %}
                    / {{ recipe.specific.author }}
                    </span>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}