{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block ldjson %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Recipe",
        "author": {
            "@type": "Person",
            "name": "{{ page.owner.get_full_name }}"
        },

        {% if page.go_live_at %}
        "datePublished": "{{ page.go_live_at|date:"Y-m-d" }}",
        {% else %}
        "datePublished": "{{ page.first_published_at|date:"Y-m-d" }}",
        {% endif %}

        {% if page.specific.tags.count > 1 %}
        "keywords": "{% for tag in page.specific.tags.all %}{% if forloop.last %}{{ tag }}{% else %}{{ tag }}, {% endif %}{% endfor %}",
        {% elif page.specific.tags.exists %}
        "keywords": "{% for tag in page.specific.tags.all %}{{ tag }}{% endfor %}",
        {% endif %}

        "description": "{{ page.specific.search_description|default:''|striptags }}",

        {% image page.specific.image fill-400x400-c100 as 1_1_photo %}
        {% image page.specific.image fill-720x540-c100 as 4_3_photo %}
        {% image page.specific.image width-720 as 16_9_photo %}
        "image": ["{{ 1_1_photo.url }}", "{{ 4_3_photo.url }}", "{{ 16_9_photo.url }}"],

        {% for block in page.specific.body %}
            "recipeIngredient": [
                {% for ingredient in block.value.ingredients %}
                    {% if ingredient.amount %}
                    "{{ ingredient.amount }} {{ ingredient.ingredient }}"
                    {% else %}
                    "{{ ingredient.ingredient }}"
                    {% endif %}
                    {% if not forloop.last %}
                    ,
                    {% endif %}
                {% endfor %}
            ],

            "recipeInstructions": [
                {% for instruction in block.value.instructions %}
                    { "@type": "HowToStep",
                    "name": "{{ instruction.name }}",
                    "text": "{{ instruction.text }}"{% if instruction.image or instruction.url %},{% endif %}
                    {% if instruction.url %}
                    "url": "{{ instruction.url }}"{% if instruction.image %},{% endif %}
                    {% endif %}
                    {% if instruction.image %}
                    {% image instruction.image original as inst_img %}
                    "image": "{{ inst_img.url }}"
                    {% endif %}
                    {% if not forloop.last %}
                    },
                    {% else %}
                    }
                    {% endif %}
                {% endfor %}
                ],
        {% endfor %}
        
        "name": "{{ page.title }}"
    }
</script>
{% endblock ldjson %}


{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/seobird657/seobird.css' %}" >
{% endblock extra_head %}


{% block content %}
<div class="seo_recipe" >

    {% if page.specific.show_breadcrumbs %}
    <div class="breadcrumbs">
        {% for ancestor in page.get_ancestors.public|slice:"2:" %}
        <a href="{% pageurl ancestor %}">{{ ancestor.title }}</a> /
        {% endfor %}
        {{ page.title  }}
    </div>
    {% endif %}
    
    <h1 >{{ page.title }}</h1>

    <div class="meta" >
    {% if page.go_live_at %}
    <span >{{ page.go_live_at|date:"d M Y" }}</span>
    {% else %}
    <span >{{ page.first_published_at|date:"d M Y" }}</span>
    {% endif %}
    <span> / </span>
    <span class="author">{{ page.owner.get_full_name }}</span>
    </div>
    
    {% if page.specific.image and page.specific.show_coverImage %}
    {% image page.specific.image width-400 as 400_photo %}
    {% image page.specific.image width-720 as 720_photo %}
    {% image page.specific.image width-900 as 900_photo %}
    <img srcset="{{ 400_photo.url }} 400w,
                {{ 720_photo.url }} 720w,
                {{ 900_photo.url }} 900w"
        sizes="(max-width: 400px) 400px,
                (max-width: 720px) 720px,
                900px"
        src="{{ 900_photo.url }}" alt="{{ 900_photo.alt }}" loading="lazy" />
    {% endif %}

    {% if page.specific.intro %}
    <div class="intro" >{{ page.specific.intro|richtext }}</div>
    {% endif %}
    
    <div class="recipe">

    {{ page.specific.body }}
    
    </div>

    {% if related %}
    <aside>
    <div class="related">
        <div class="related_recipe">
        {% for recipe in related %}
            <a href="{% pageurl recipe %}" >
                <div class="related_recipe_cover">
                    {% image recipe.specific.image width-600 as 600_photo %}
                    {% image recipe.specific.image width-450 as 450_photo %}
                    {% image recipe.specific.image width-400 as 400_photo %}
                    {% image recipe.specific.image width-300 as 300_photo %}
                    <img srcset="{{ 400_photo.url }} 400w,
                                {{ 450_photo.url }} 450w,
                                {{ 600_photo.url }} 600w,
                                {{ 300_photo.url }} 900w"
                        sizes="(max-width: 400px) 400px,
                                (max-width: 600px) 600px,
                                (max-width: 900px) 450px,
                                900px"
                        src="{{ 600_photo.url }}"
                        alt="{{ 600_photo.alt }}" class="image" loading="lazy" />
                </div>
                <div class="related_recipe_title">
                    <h2>{{ recipe.title }}</h2>
                    <span >
                    {% if recipe.go_live_at %}
                        {{ recipe.go_live_at|date:"d M Y" }}
                    {% else %}
                        {{ recipe.first_published_at|date:"d M Y" }}
                    {% endif %}
                    / {{ recipe.owner.get_full_name }}
                    </span>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
    </aside>
    {% endif %}

</div>
{% endblock %}