

.seo_recipe {
    margin: 1em auto;
    width: 900px;
    max-width: calc(100% - 2em);
}
.seo_recipe img {
    max-width: 100%;
}
.seo_recipe .recipe {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
}
.seo_recipe .recipe .instructions .instruction {
    margin: 0.5em auto;
}
.seo_recipe .related .related_recipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    margin: 1em 0 2em 0;
}
.seo_recipe .related .related_recipe .related_recipe_title h4 {
    margin: 0.5em 0 0 0;
}
.seo_recipe .related .related_recipe .related_recipe_title span {
    font-size: 1em;
}

@media (max-width: 600px) {
    .seo_recipe .recipe {
        grid-template-columns: 1fr;
    }
    .seo_recipe .recipe .ingredients > ul {
        margin: auto;
    }
}
