
<div class="ingredients">
    <h2>Ingredients:</h2>
    <ul>
    {% for ingredient in value.ingredients %}
            {% if ingredient.amount %}
            <li >{{ ingredient.amount }} {{ ingredient.ingredient }}</li>
            {% else %}
            <li >{{ ingredient.ingredient }}</li>
            {% endif %}
    {% endfor %}
    </ul>
</div>

<div class="instructions">
    <h2>Instructions:</h2>
    {% for instruction in value.instructions %}
        <div class="instruction" >
            <p >{{ instruction.text }}</p>
        </div>
    {% endfor %}
</div>
