
<div class="ingredients">
    <h3>Ingredients:</h3>
    <ul>
    {% for ingredient in value.ingredients %}
            {% if ingredient.amount %}
            <li >{{ ingredient.amount }} {{ ingredient.ingredient }}</li>
            {% else %}
            <li >{{ ingredient.ingredient }}</li>
            {% endif %}
    {% endfor %}
    </ul>
</div>

<div class="instructions">
    <h3>Instructions:</h3>
    {% for instruction in value.instructions %}
        <div class="instruction" >
            <p >{{ instruction.text }}</p>
        </div>
    {% endfor %}
</div>
